.cabecalho {
	background-color: #F2F2F2;
	color: grey;
	font-weight: bold;
	padding: 0.1rem 0 0.8rem 2rem;
	font-size: 1.5rem;
	border-bottom: 0.1px solid gainsboro;

	position: fixed;
	top: 0;
	width: 100%;
}

.texto-cor-vermelha {
	color: #F78181;
}

.simula-arquivo-cabecalho {
	font-size: 0.8rem;
	background-color: #D8D8D8;
	font-weight: 400;
	color: #585858;
	border-radius: 2px;
	padding: 2px;
}

.cabecalho__titulo {
	margin-top: 0.5rem;
}

@media (min-width:0px) and (max-width:768px) {
	.cabecalho {
		padding-left: 1rem;
	}
}