.pagina {
	display: grid;
	grid-template-areas: "cabecalho" "conteudo" "rodape";
	grid-template-rows: 70px 100vh 20px;
	grid-template-columns: auto;
	
	font-family: 'Ubuntu', sans-serif;
}

.pagina__cabecalho {
	grid-area: cabecalho;
}

.pagina__conteudo {
	grid-area: conteudo;
}

.pagina__rodape {
	grid-area: rodape;
}

/*  */
strong {
	font-weight: bold;
}

code {
	font-family: monospace;
	padding: 0.2rem 0.5rem;
	background-color: rgb(236, 236, 236);
}
/*  */