.pagina {
	display: grid;
	grid-template-areas: "cabecalho" "conteudo" "rodape";
	grid-template-rows: 70px 100vh 20px;
	grid-template-columns: auto;
}

.pagina__cabecalho {
	grid-area: cabecalho;
}

.pagina__conteudo {
	grid-area: conteudo;
}

.pagina__rodape {
	grid-area: rodape;
}